.flexbox {
    display: flex;
    border: 2px solid rgb(197, 109, 109);
    padding: 20px;
}



.item { border: 2px solid black;
padding: 20px;
} 

#box1 {
    justify-content: space-around;
    background-color: rgb(255, 201, 210);
} 


#box2, #box3, #box4 {
    justify-content: space-evenly; 
}

#box2 {
    background-color: rgb(250, 244, 236);
}

#box3 {
    background: rgb(241, 189, 137);
}

#box4 {
    background-color: rgb(255, 246, 220);
}
