.flexbox {
    display: flex;
    border: 2px solid blue;
    padding: 20px;
}


.item { border: 2px solid red;
padding: 20px;
} 

#box1 {
    justify-content: space-evenly;
    background-color: pink;
} 


#box2, #box3, #box4 {
    justify-content: space-evenly; 
}

#box3 {
    background: rgb(247, 220, 224);
}

