.flexbox {
    display: flex;
   
    padding: 20px;
}



.item { 
padding: 20px;
} 

#box1 {
    justify-content: space-around;
    background-color: rgb(255, 201, 210);
} 


#box2, #box3, #box4 {
    justify-content: space-evenly; 
}

#box2 {
    background-color: rgb(250, 244, 236);
}

#box3 {
    background: rgb(241, 189, 137);
}

#box4 {
    background-color: rgb(255, 246, 220);
}

img {
    border: 5px solid black;
    border-radius: 4px;
    border-style: double;
}
button {
    color: rgb(121, 77, 33);
    height: 80px;
}
